::ng-deep {
    .button {
        background: var(--error-color);
        padding: var(--padding-very-small) var(--padding-large);
        border: none;
        border-radius: var(--border-radius-small);
        color: var(--white-color);
        margin-top: var(--margin-small);
        font-size: var(--font-size-medium);
        cursor: pointer;
    }
}