::ng-deep {
    .input-wrapper {
        position: relative;
        width: 100%;
        height: auto;

        .label {
            position: absolute;
            top: -10px;
            left: 20px;
            background: var(--white-color);
            color: var(--error-color);
            z-index: var(--z-index-2);
        }

        .input {
            position: relative;
            width: 100%;
            padding: var(--padding-medium) var(--padding-small);
            outline: none;
            font-size: var(--font-size-medium);
            border: 1px solid var(--light-border-color);
            background: #fff;
            border-radius: var(--border-radius-small);
            z-index: var(--z-index-1);
        }

        .error-message {
            color: var(--error-color);
        }
    }
}