::ng-deep {
    .input-wrapper {
        position: relative;
        width: 100%;
        height: auto;

        .label {
            position: absolute;
            top: -10px;
            left: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: #fff;
            color: #dc143c;
            z-index: 2;
        }

        .input {
            position: relative;
            width: 100%;
            padding: 15px 10px;
            outline: none;
            font-size: 15px;
            border: 1px solid #80808047;
            background: #fff;
            border-radius: 10px;
            z-index: 1;
        }

        .error-message{
            color: #dc143c;
        }
    }
}